@media print{

nav{

display:none !important;

}

.download-section{

display:none !important;

}

body{

background:white !important;

color:black !important;

}

*{

box-shadow:none !important;

}

}